h1 {
    font-size: 50px;
    color: rgb(10, 193, 206);
}

body {
    background-color: blueviolet;
}

h2 {
    color: rgb(193, 131, 8);
    background-color: rgb(23, 2, 142);
}

#titulo2 {
color: crimson;
background-color: black;
}


.titulo3 {
    color: fuchsia;
    background-color: azure;
}